*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin-top: 150px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
}

body {
    background-color: #27276c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


/* Estilo do cabeçalho */
header {
    background-color: #6200ea;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 19px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header:hover {
    background-color: #3700b3;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

form {
    display: none;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #6200ea;
    border-radius: 41px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.5s ease;
    box-shadow: 0 4px 6px rgba(102, 0, 255, 0.1);
}

input:focus {
    border-color: #6200ea;
}

button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 200px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

button:hover {
    transform: scale(1.05);
}

p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #6200ea;
    color: #F4F0EA;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #6200ead2;
    box-shadow: 0 2px 10px #6200ea;
    cursor: pointer;

}

ul li:hover {
    background-color: #6200ea;
    color: white;
    transform: scale(1.05);
}

.mensagem-sucesso {
    color: #6200ea;; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
    margin-top: 19px; /* Espaçamento superior */
}

.texto-inicial {
    color: #ffffff;
    font-family: monospace; /* Fonte de máquina de escrever */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    margin: 0 auto; /* Centraliza o texto */
    letter-spacing: 0.15em; /* Espaçamento entre letras */    
}

footer {
    width: 100%;
    color: antiquewhite;
    bottom: 0;
    height: 9%;
    background-color: #27276c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

footer a {
    margin-left: 10px;
    text-decoration: none;
    color: antiquewhite;
}

