*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin-top: 150px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
}

body {
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


/* Estilo do cabeçalho */
header {
    background-color: #6200ea;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 19px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header:hover {
    background-color: #3700b3;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #6200ea;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.5s ease;
}

input:focus {
    border-color: #6200ea;
}

.inputNumero, button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 200px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #6200ea;
    color: #F4F0EA;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #3700b3;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(174, 0, 255, 0.268);
    
}

